$defaultHeight:550px !default;
left{
  float: left;
}
/**

**/
body{
  font-family: "source-serif-pro",Georgia,"Times New Roman",Times,serif;
  color: #3a87ad;
};
h1,p{
  text-align: center
};
img{
  max-height: 480px
}
a{
   cursor: pointer;
   text-decoration:none !important;
}
.dataGrid{
    height:$defaultHeight;
}
.clear{
  clear: both
}
.right{
  float : right
}
.center{
   div{
     padding : 3px
    }
}
.registered{
  padding-top : 150px
}
.buttonPadding{
  padding: 10px
}
.am-nav-header{
 border-left: 3px solid #3bb4f2;
 padding: 0 1em;
 margin-top: .4em;
 margin-bottom: .4em;
}
.admin-sidebar{
  display: block;
  position: static;
  background: none;
  height: 100%;
  overflow-x: hidden;
  overflow-y: scroll;
  width: auto;
  min-height: 100%;
  @extend  left;
  border-right: 1px solid #cecece;
  padding-right: 0px;
}
.admin-main {
    position: relative;
    height: 100%;
    background:#f3f3f3;
}
.admin-center {
    background:white;
}
@mixin opacity($opacity:50) {
  opacity: $opacity / 100;
  filter: alpha(opacity=$opacity);
}
.opacity-80{
  @include opacity(80); //传递参数
}
