body
  font-family: "source-serif-pro",Georgia,"Times New Roman",Times,serif
  color: #3a87ad
h1, p
  text-align: center
img
  max-height: 480px
.tree
  width: 300px
.left
  float : left
.dataGrid
  width : 1500px
  height : 550px
.clear
  clear: both
.right
  float : right
.center
  width: 1900px
.center div
  padding-top: 5px
