{
  "parser": "babel-eslint",
  "extends": "airbnb",
  "rules": {
    "comma-dangle": "off",
    "semi": "off",
    "react/prefer-stateless-function": "off"
  },
  "plugins": [
    "react"
  ],
  "settings": {
    "import/resolver": "webpack"
  }
}
